<% flash.each do |k, message| %>
  <%= content_tag :div, class: "alert alert-#{k} alert-dismissible fade show", role: 'alert' do %>
    <button class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= message %>
  <% end %>
<% end %>
