$fa-font-path: "../../../node_modules/font-awesome/fonts";
$bootstrap-fileinput-img-path: "../../../node_modules/bootstrap-fileinput/img";

$font-size-base: .85rem;
$font-family-base: 'Droid Sans', sans-serif;
