<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t('animes.new') %></h2>
      </div>
      <div class="card-block">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
